<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <!-- sync-on-page-switch editors -->
      <editor
            name="Preview HTML Editor Example"
            default="false"
            icon="icons/browser_editor.gif"
            contributorClass="org.eclipse.wst.html.ui.internal.edit.ui.ActionContributorHTML"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont"
            id="org.eclipse.wst.html.ui.examples.editors.HTMLPreviewEditor">
			<class class="org.eclipse.wst.html.ui.examples.editors.PreviewEditor">
				<parameter name="showGrid" value="false"/>
				<parameter name="contentType" value="org.eclipse.wst.html.core.htmlsource"/>
			</class>
			<contentTypeBinding contentTypeId="org.eclipse.wst.html.core.htmlsource" />
      </editor>
      <editor
            name="Preview XML Editor Example"
            default="false"
            icon="icons/browser_editor.gif"
            contributorClass="org.eclipse.wst.xml.ui.internal.actions.ActionContributorXML"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont"
            id="org.eclipse.wst.html.ui.examples.editors.XMLPreviewEditor">
			<class class="org.eclipse.wst.html.ui.examples.editors.PreviewEditor">
				<parameter name="showGrid" value="true"/>
				<parameter name="contentType" value="org.eclipse.core.runtime.xml"/>
			</class>
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.xml" />
      </editor>
   </extension>
   <!-- matching actionsets -->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part id="org.eclipse.wst.html.ui.examples.editors.XMLPreviewEditor"/>
         <part id="org.eclipse.wst.html.ui.examples.editors.HTMLPreviewEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.NavigateActionSet">
         <part id="org.eclipse.wst.html.ui.examples.editors.XMLPreviewEditor"/>
         <part id="org.eclipse.wst.html.ui.examples.editors.HTMLPreviewEditor"/>
      </actionSetPartAssociation>
   </extension>
</plugin>
