<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.javascript.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.wst.javascript.ui.internal.editor.JSEditorPlugin">

   <runtime>
      <library name="javascriptui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.wst.sse.ui"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.javascript.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.wst.xml.core"/>
   </requires>
   
<!-- define editors -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%JavaScript_Source_Page_Editor.name"
            icon="icons/sourceEditor.gif"
            extensions="js"
            contributorClass="org.eclipse.wst.javascript.ui.internal.actions.ActionContributorJS"
            class="org.eclipse.wst.javascript.ui.internal.editor.JSEditor"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont"
            id="org.eclipse.wst.javascript.core.javascriptsource.source">
      <contentTypeBinding contentTypeId="org.eclipse.wst.javascript.core.javascriptsource" />
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%JavaScript_Editor.name"
            default="true"
            icon="icons/javascript.gif"
            extensions="js"
            contributorClass="org.eclipse.wst.javascript.ui.internal.actions.MultiPageEditorActionBarContributorJS"
            class="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont"
            id="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart">
      <contentTypeBinding contentTypeId="org.eclipse.wst.javascript.core.javascriptsource" />
      </editor>
   </extension>
   
<!-- editor actionsets -->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part
               id="org.eclipse.wst.javascript.core.javascriptsource.source">
         </part>
         <part
               id="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.NavigateActionSet">
         <part
               id="org.eclipse.wst.javascript.core.javascriptsource.source">
         </part>
         <part
               id="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart">
         </part>
      </actionSetPartAssociation>
   </extension>

<!-- use a modified annotation model for all JavaScript source files -->
   <extension
      point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            extensions="js"
            contentTypeId="org.eclipse.wst.javascript.core.javascriptsource"
            class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory">
      </factory>
   </extension>

<!-- Drag and drop handling -->
   <extension
         point="org.eclipse.wst.sse.ui.dropTargetTransfers">
      <dropTargetContribution
            targetID="org.eclipse.wst.javascript.core.javascriptsource"
            id="org.eclipse.wst.javascript.ui.extendedTransfers">
         <transfer
               priority="mid"
               singleton="true"
               class="org.eclipse.swt.dnd.FileTransfer"
               method="getInstance"
               id="org.eclipse.swt.dnd.FileTransfer">
         </transfer>
         <dropAction
               class="org.eclipse.wst.sse.ui.extension.FileDropAction"
               transferID="org.eclipse.swt.dnd.FileTransfer"
               id="org.eclipse.wst.sse.ui.extension.FileDropAction">
         </dropAction>
         <transfer
               priority="low"
               singleton="true"
               class="org.eclipse.swt.dnd.TextTransfer"
               method="getInstance"
               id="org.eclipse.swt.dnd.TextTransfer">
         </transfer>
         <dropAction
               class="org.eclipse.wst.sse.ui.extension.TextDropAction"
               transferID="org.eclipse.swt.dnd.TextTransfer"
               id="org.eclipse.wst.sse.ui.extension.TextDropAction">
         </dropAction>
      </dropTargetContribution>
   </extension>
	
	<!-- New JavaScript wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="org.eclipse.wst.javascript.ui.internal.wizard.NewJSWizard"
			name="%_UI_WIZARD_NAME"
			class="org.eclipse.wst.javascript.ui.internal.wizard.NewJSWizard"
			category="org.eclipse.wst.web.ui"
			icon="icons/full/ctool16/newjscript_wiz.gif">
			<description>%_UI_WIZARD_CREATE_NEW_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
<!-- JAVASCRIPT PREFERENCE PAGES -->
      <page
            name="%JavaScript_Files.name"
            category="org.eclipse.wst.sse.ui.preferences"
            class="org.eclipse.wst.javascript.ui.internal.common.preferences.ui.JavaScriptFilesPreferencePage"
            id="org.eclipse.wst.sse.javascript.preferences">
      </page>
      <page
            name="%JavaScript_Source.name"
            category="org.eclipse.wst.sse.javascript.preferences"
            class="org.eclipse.wst.javascript.ui.internal.common.preferences.ui.JavaScriptSourcePreferencePage"
            id="org.eclipse.wst.sse.javascript.preferences.source">
      </page>
      <page
            name="%JavaScript_Styles.name"
            category="org.eclipse.wst.sse.javascript.preferences"
            class="org.eclipse.wst.javascript.ui.internal.common.preferences.ui.JavaScriptColorPage"
            id="org.eclipse.wst.sse.javascript.preferences.styles">
      </page>
   </extension>
	<!-- initialize javascript ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
	   <initializer class="org.eclipse.wst.javascript.ui.internal.common.preferences.JSCommonUIPreferenceInitializer"/>
	</extension>
   <extension
         point="org.eclipse.wst.sse.ui.extendedconfiguration">
      <definition 
      		type="preferencepages"
            value="org.eclipse.wst.sse.javascript.preferences"
            target="org.eclipse.wst.javascript.core.javascriptsource"/>
      <definition 
      		type="preferencepages"
            value="org.eclipse.wst.sse.javascript.preferences.source"
            target="org.eclipse.wst.javascript.core.javascriptsource"/>
      <definition 
      		type="preferencepages"
            value="org.eclipse.wst.sse.javascript.preferences.styles"
            target="org.eclipse.wst.javascript.core.javascriptsource"/>
   </extension>
</plugin>
