<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.javascript.core"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.wst.javascript.core.internal.JavaScriptCorePlugin">

   <runtime>
      <library name="javascriptmodel.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         point="org.eclipse.team.core.fileTypes">
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
         <content-type
               file-extensions="js"
               priority="high"
               name="%JavaScript_Content_Type_Extension_Element.name"
               id="javascriptsource"
               base-type="org.eclipse.core.runtime.text"
			   default-charset="US-ASCII">
		</content-type>
   </extension>

</plugin>
