<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

			<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
			file-extensions="xml"
			priority="low"
			name="%CS_Content_Type_Extension_Element.name"
			id="cssource"
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter
					name="element"
					value="cheatsheet" />
			</describer>
		</content-type>
	</extension>
	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			default="false"
			class="org.eclipse.wst.xml.examples.cs.core.modelhandler.ModelHandlerForCS"
			associatedContentTypeId="org.eclipse.wst.xml.examples.cs.ui.cssource"
			id="org.eclipse.wst.sse.core.handler.cs">
		</modelHandler>
	</extension>
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.wst.xml.examples.cs.ui.StructuredTextViewerConfigurationCS"
			target="org.eclipse.wst.xml.examples.cs.ui.cssource" />
		<!-- nothing special is supplied for other configurations, so nothing else needs to be declared -->
	</extension>
	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.wst.xml.examples.cs.ui.registry.AdapterFactoryProviderForCS">
		</adapterFactoryDescription>
	</extension>
</plugin>
